@font-face {
  font-family: mono;
  src: url(mono.ttf); 
}
@font-face {
  font-family: derk;
  src: url(derk.otf);

a:hover {
  transition:.4s!important;
  color:rgb(190, 190, 190)!important;
  text-shadow: 0 0 0.40em rgb(190, 190, 190);
}
span::before {
  content:'\A';
  white-space:pre
}
#overlay-toggle {
  position:absolute;
  display: none;
}
.debold{
  font-weight:normal
}
.social_container {
display: flex;
align-items: center;
justify-content: center;
}
.overlay {
  z-index: 1;
  background-color: black;
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  cursor: url("../images/cursor.png"), default;
}
.no-hover {
  display: block;
}
.hover {
  display: none;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
.text-content {
  background: rgba(0, 0, 0, 0);
  display: grid;
  place-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.text-content h1 {
  font-size: 3rem;
  font-weight: 800;
}
.text-content p {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 31px;
  padding-left: 10px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 0.0;
  color: rgb(192, 192, 192);
  display: flex;
}
.text-content a {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1.3rem;
  line-height: 0.0;
  color: #fff;
  display: flex;
}
#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}
@media(hover: hover) {
  .hover {
    display: block;
  }
  .no-hover {
    display: none;
  }
}
@keyframes fade{
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
  
}

div.interact {
    background-color: black;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    color: rgb(20, 23, 220);
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    font-family: monospace;
    position: fixed;
}

body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    overflow: hidden;
}

@media screen {
    body {
        background-attachment: scroll;
    }
}

@keyframes flicker {
    to {
        box-shadow: none;
    }
}

img.social_icon {
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; 
    margin: 20px;
    max-height: 65px;
}

::selection {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none !important;
}

a:hover {
    transform: scale(1.1);

